@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-ui-background-primary text-ui-foreground-primary;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
